In [76]:
import pandas as pd
import nltk
import numpy as np
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/pedromadruga/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [77]:
# import a cropped version of the full data set
df_init = pd.read_csv('../data/interim/jobindex_cropped.csv')
df = df_init.head(4)
df

,title,date,company,description,source,company_rating,type,company_rating_amount
0,Salg og rådgivning af CAD-/CAM-løsninger – Acc...,2020-03-27,Edge-Team,"Edge-Team, Egå eller OdenseEdge-Team søger tek...",NaN,NaN,paid,NaN
1,Handicaphjælper,2020-03-26,NaN,Vikarvagt hos en dame på 70 år.,DUOS,NaN,unpaid,NaN
2,Handicaphjælper,2020-03-26,NaN,Vikar vagt til 50 årig mand med ALS.,DUOS,NaN,unpaid,NaN
3,Jobbank for sundhedspersonale - COVID-19,2020-03-26,Ældre & Sundhed,Lolland Kommune opretter en COVID-19-jobba...,Jobcenter,4 af 5 stjerner,unpaid,62.0

In [78]:
# show only features that matter
df_filtered = df[['title', 'company', 'description']]
df_filtered.dropna().head()
# df_filtered.head

,title,company,description
0,Salg og rådgivning af CAD-/CAM-løsninger – Acc...,Edge-Team,"Edge-Team, Egå eller OdenseEdge-Team søger tek..."
3,Jobbank for sundhedspersonale - COVID-19,Ældre & Sundhed,Lolland Kommune opretter en COVID-19-jobba...

In [79]:
# remove stop words
from nltk.corpus import stopwords
# stopwords.words('danish')

all_descriptions = np.array(df_filtered['description'].dropna())

print(all_descriptions.shape)
all_descriptions

(4,)

array(['Edge-Team, Egå eller OdenseEdge-Team søger teknisk orienterede konsulenter til salg og rådgivning af henholdsvis vores CAD- og CAM-løsninger. Du skal både pleje eksisterende kunder samt varetage kontakten til potentielle kunder. Som ansvarlig for hele salgsprocessen skal du arbejde selvstændigt med alt fra kundekontakt, forhandling og opfølgning.  Du kommer til at sælge både software, implementerings- og udviklingsprojekter samt serviceaftaler. Du vil få en god støtte i dit daglige arbejde fra vores tekniske presales-konsulenter og specialister i supportteamet.  Edge-Team er blandt de førende virksomheder i Danmark inden for CAD-/CAM-helhedsløsninger, vores kunder er produktionsvirksomheder og udviklingshuse i hele landet, som benytter software til produktdesign, konstruktion, pladebearbejdning og CNC-bearbejdning.',
       '    Vikarvagt hos en dame på 70 år.    ',
       '    Vikar vagt til 50 årig mand med ALS.    ',
       '    Lolland Kommune opretter en COVID-19-jobbank til studerende, ledige og pensionerede inden for relevante fag.    '],
      dtype=object)

In [80]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(all_descriptions)

In [81]:
print(vectorizer.get_feature_names())

['19', '50', '70', 'af', 'als', 'alt', 'ansvarlig', 'arbejde', 'at', 'bearbejdning', 'benytter', 'blandt', 'både', 'cad', 'cam', 'cnc', 'covid', 'daglige', 'dame', 'danmark', 'de', 'dit', 'du', 'edge', 'egå', 'eksisterende', 'eller', 'en', 'er', 'fag', 'for', 'forhandling', 'fra', 'få', 'førende', 'god', 'hele', 'helhedsløsninger', 'henholdsvis', 'hos', 'implementerings', 'inden', 'jobbank', 'kommer', 'kommune', 'konstruktion', 'konsulenter', 'kontakten', 'kundekontakt', 'kunder', 'landet', 'ledige', 'lolland', 'løsninger', 'mand', 'med', 'odenseedge', 'og', 'opfølgning', 'opretter', 'orienterede', 'pensionerede', 'pladebearbejdning', 'pleje', 'potentielle', 'presales', 'produktdesign', 'produktionsvirksomheder', 'på', 'relevante', 'rådgivning', 'salg', 'salgsprocessen', 'samt', 'selvstændigt', 'serviceaftaler', 'skal', 'software', 'som', 'specialister', 'studerende', 'støtte', 'supportteamet', 'sælge', 'søger', 'team', 'teknisk', 'tekniske', 'til', 'udviklingshuse', 'udviklingsprojekter', 'vagt', 'varetage', 'vikar', 'vikarvagt', 'vil', 'virksomheder', 'vores', 'år', 'årig']

In [82]:
print(X.shape)
print(X.toarray())

(4, 100)
[[0.         0.         0.         0.07252595 0.         0.07252595
  0.07252595 0.1450519  0.07252595 0.07252595 0.07252595 0.07252595
  0.1450519  0.1450519  0.1450519  0.07252595 0.         0.07252595
  0.         0.07252595 0.07252595 0.07252595 0.29010381 0.1450519
  0.07252595 0.07252595 0.07252595 0.04629238 0.1450519  0.
  0.11436059 0.07252595 0.1450519  0.07252595 0.07252595 0.07252595
  0.1450519  0.07252595 0.07252595 0.         0.07252595 0.05718029
  0.         0.07252595 0.         0.07252595 0.1450519  0.07252595
  0.07252595 0.21757786 0.07252595 0.         0.         0.07252595
  0.         0.05718029 0.07252595 0.40026206 0.07252595 0.
  0.07252595 0.         0.07252595 0.07252595 0.07252595 0.07252595
  0.07252595 0.07252595 0.         0.         0.07252595 0.07252595
  0.07252595 0.1450519  0.07252595 0.07252595 0.1450519  0.1450519
  0.1450519  0.07252595 0.         0.07252595 0.07252595 0.07252595
  0.07252595 0.21757786 0.07252595 0.07252595 0.1851695  0.07252595
  0.07252595 0.         0.07252595 0.         0.         0.07252595
  0.07252595 0.21757786 0.         0.        ]
 [0.         0.         0.39505606 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.39505606 0.         0.         0.         0.         0.
  0.         0.         0.         0.25215917 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.39505606 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.39505606 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.39505606 0.
  0.         0.         0.39505606 0.        ]
 [0.         0.37718389 0.         0.         0.37718389 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.37718389 0.29737611 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.24075159 0.
  0.         0.37718389 0.         0.37718389 0.         0.
  0.         0.         0.         0.37718389]
 [0.270373   0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.270373   0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.17257558 0.         0.270373
  0.21316518 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.21316518
  0.270373   0.         0.270373   0.         0.         0.
  0.         0.         0.         0.270373   0.270373   0.
  0.         0.         0.         0.21316518 0.         0.270373
  0.         0.270373   0.         0.         0.         0.
  0.         0.         0.         0.270373   0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.270373   0.         0.         0.
  0.         0.         0.         0.         0.17257558 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]]

In [83]:
from sklearn.metrics.pairwise import linear_kernel
similarity_matrix = linear_kernel(X,X)
similarity_matrix

array([[1.        , 0.01167305, 0.06158391, 0.16183314],
       [0.01167305, 1.        , 0.        , 0.04351652],
       [0.06158391, 0.        , 1.        , 0.04154785],
       [0.16183314, 0.04351652, 0.04154785, 1.        ]])

In [84]:
similarity_matrix[0,1]

0.011673046897317962

In [85]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix2 = cosine_similarity(X)
similarity_matrix2

array([[1.        , 0.01167305, 0.06158391, 0.16183314],
       [0.01167305, 1.        , 0.        , 0.04351652],
       [0.06158391, 0.        , 1.        , 0.04154785],
       [0.16183314, 0.04351652, 0.04154785, 1.        ]])

In [88]:
indices = pd.Series(df_filtered.index)
score_series = pd.Series(similarity_matrix[1]).sort_values(ascending = False)

In [89]:
score_series

1    1.000000
3    0.043517
0    0.011673
2    0.000000
dtype: float64